In [1]:
import pandas as pd
from pathlib import Path

In [11]:
# Use this for the posting worklist spreadsheet upload
Q2 = Path("MKC Financial\Posting Worklist Sep 2024 - Jan 2025.csv")

In [12]:
Q2_df=pd.read_csv(Q2)
Q2_df.head()

,Station Name,Bill To Party ID,Bill To Party Name,House Bill Number,FWO,Invoice Date,Gross,Posted Date,PU Vendor,Total PU Amount,...,LH Amount,Total Variance,PU Amount,Rebate Invoice ID,Rebate Amount,Rebate Currency,Sales Person ID,Sales Person Name,Business Tr. Doc. ID,Transportation Mode Code
0,R44MKC,10043464.0,SAUNA WORKS INC,1000857433,2100580374,1/29/2025,600.00,01/29/2025 10:36:29 PST,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,50001310.0,Mr. R44 HOUSE ACCOUNT R44-S999,OFFLOAD CMAU6948604/LOT 1825,1
1,R44MKC,10043464.0,SAUNA WORKS INC,1000856112,2100578907,1/27/2025,600.00,01/27/2025 11:58:41 PST,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,50001310.0,Mr. R44 HOUSE ACCOUNT R44-S999,OFFLOAD FCIU9748380/LOT 1852,1
2,R44MKC,10043464.0,SAUNA WORKS INC,1000856089,2100578906,1/27/2025,600.00,01/27/2025 11:32:08 PST,NaN,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,50001310.0,Mr. R44 HOUSE ACCOUNT R44-S999,OFFLOAD TRHU4832116/LOT 1838,1
3,R44MKC,10043464.0,SAUNA WORKS INC,1000854321,2100577039,1/30/2025,913.47,01/30/2025 11:41:17 PST,CEVF,38.79,...,259.79 USD,NaN,38.79 USD,NaN,NaN,NaN,50001310.0,Mr. R44 HOUSE ACCOUNT R44-S999,SO328930,1
4,R44MKC,10043464.0,SAUNA WORKS INC,1000854320,2100577038,1/30/2025,"1,449.03",01/30/2025 11:41:17 PST,CEVF,50.63,...,186.44 USD,NaN,50.63 USD,NaN,NaN,NaN,50001310.0,Mr. R44 HOUSE ACCOUNT R44-S999,SO329134,1

In [13]:
Q2_df.columns

Index(['Station Name', 'Bill To Party ID', 'Bill To Party Name',
       'House Bill Number', 'FWO', 'Invoice Date', 'Gross', 'Posted Date',
       'PU Vendor', 'Total PU Amount', 'LH Vendor', 'MAWB', 'Total LH Amount',
       'DL Vendor', 'Total DL Amount', 'Station', 'Profitability**',
       'Transportation Mode', 'Commission Status', 'Document Type',
       'Status for Invoicing', 'Warning', 'Variance', 'Com. Stat',
       'Misc Amount', 'Ins Amt', 'Ins Currency', 'G&A', 'G&A Currency', 'E&O',
       'E&O Currency', 'RLP fee', 'Invoice Number', 'Posting Date/Time',
       'Service Level', 'Gross Weight', 'Gross Weight Unit', 'No of Pieces',
       'Unit of Pieces', 'Commission Error', 'DL Amount', 'LH Amount',
       'Total Variance', 'PU Amount', 'Rebate Invoice ID', 'Rebate Amount',
       'Rebate Currency', 'Sales Person ID', 'Sales Person Name',
       'Business Tr. Doc. ID', 'Transportation Mode Code'],
      dtype='object')

In [15]:
Q2_df = Q2_df.drop(columns=['Status for Invoicing', 'Invoice Number','Com. Stat','Transportation Mode', 'Posted Date','Document Type','Warning', 'Variance','Rebate Invoice ID', 'Bill To Party ID', 
                            'Rebate Amount', 'Rebate Currency', 'Sales Person ID', 'Sales Person Name', 'Business Tr. Doc. ID','Transportation Mode Code'])
Q2_df.head()

,Station Name,Bill To Party Name,House Bill Number,FWO,Invoice Date,Gross,PU Vendor,Total PU Amount,LH Vendor,MAWB,...,Service Level,Gross Weight,Gross Weight Unit,No of Pieces,Unit of Pieces,Commission Error,DL Amount,LH Amount,Total Variance,PU Amount
0,R44MKC,SAUNA WORKS INC,1000857433,2100580374,1/29/2025,600.00,NaN,0.00,RGLMKC,CMAU6948604/LOT 1825,...,STORAGE / WAREHOUSE,"26,590",LB,36.0,PAL,NaN,NaN,NaN,NaN,NaN
1,R44MKC,SAUNA WORKS INC,1000856112,2100578907,1/27/2025,600.00,NaN,0.00,RGLMKC,FCIU9748380/LOT 1852,...,STORAGE / WAREHOUSE,"23,160",LB,32.0,PAL,NaN,NaN,NaN,NaN,NaN
2,R44MKC,SAUNA WORKS INC,1000856089,2100578906,1/27/2025,600.00,NaN,0.00,RGLMKC,TRHU4832116/LOT 1838,...,STORAGE / WAREHOUSE,"26,000",LB,50.0,PAL,NaN,NaN,NaN,NaN,NaN
3,R44MKC,SAUNA WORKS INC,1000854321,2100577039,1/30/2025,913.47,CEVF,38.79,FA,91927172,...,APPOINTMENT,810,LB,1.0,PC,NaN,241.25 USD,259.79 USD,NaN,38.79 USD
4,R44MKC,SAUNA WORKS INC,1000854320,2100577038,1/30/2025,"1,449.03",CEVF,50.63,FA,91925043,...,APPOINTMENT,810,LB,1.0,PC,NaN,299.66 USD,186.44 USD,NaN,50.63 USD

In [16]:
Q2_df = Q2_df.replace({'AGEIND\r\nAGEIND':'AGEIND', 'NDSSMF\r\nNDSSMF':'NDSSMF','FRFBDL\r\nFRFBDL':'FRFBDL', 'CEVF\r\nCEVF':'CEVF',
                       'FA\r\nFA': 'FA', 'FA\r\nFA\r\nFA': 'FA'} )

In [17]:
pu_vendor = Q2_df.groupby('PU Vendor')['PU Vendor'].value_counts()
top_pu_v = pd.DataFrame(pu_vendor)
top_pu_v.sort_values(by = ['count'], ascending=False)

            count
PU Vendor
CEVF          590
AGEIND        445
NDSSMF        286
ECLBDL        132
RGLMKC         61
CPTLAX (E)     60
ECCBDL         16
AGESJC          8
AGEDFW          4
FRFSFO          2
ALPJFK          2
AGEMIA          1
AGEIAH          1
DALSTL          1
AIRPHX          1
AIRTUS          1
ARDROC          1
FRFRDU          1
GEESE C         1
FRFIAD          1
EMSBNA          1
JAMCLE          1
GRELGB          1
METLAX          1
KEMORD          1
MONBIL          1
OKXOKC          1
PORR            1
WHIDTW          1

In [18]:
lh_vendor = Q2_df.groupby('LH Vendor')['LH Vendor'].value_counts()
top_lh_v = pd.DataFrame(lh_vendor)
top_lh_v.sort_values(by = ['count'], ascending=False)

                      count
LH Vendor
FA                     1216
ACUI                    220
CEVF                    183
ALC                      91
RGLMKC                   40
FEDEXPS                  18
PRTLIT                   13
AA                       12
FX                        5
ACUI\r\nACUI              2
ACUI\r\nFA                2
AXLE                      2
SAIA                      2
ECUMIA                    1
CEVF\r\nCEVF\r\nCEVF      1
CALLAX                    1
FA\r\nALC                 1
HUBTYR                    1
WN                        1
XPOD                      1

In [19]:
dl_vendor = Q2_df.groupby('DL Vendor')['DL Vendor'].value_counts()
top_dl_v = pd.DataFrame(dl_vendor)
top_dl_v = top_dl_v.sort_values(by = ['count'], ascending=False)
top_dl_v = top_dl_v.head(20).reset_index()
top_dl_v

   DL Vendor  count
0       DDLI     65
1     BLKORD     61
2     AGEMIA     56
3     COMMKE     55
4     ALPJFK     50
5     AIRPHX     50
6     BTBDEN     46
7   JWILDATL     44
8     FRFTPA     41
9     RGLSEA     41
10    WHIDTW     39
11    WPLSLC     37
12    NAFBWI     35
13    STRMSP     33
14    LYKAUS     33
15    AGEIAH     32
16    GRELGB     30
17    FRFEWR     29
18    MKSLAS     28
19    NGTBOS     25

In [20]:
selected = Q2_df.loc[:, ['House Bill Number', 'Gross Weight']]
selected

      House Bill Number Gross Weight
0            1000857433       26,590
1            1000856112       23,160
2            1000856089       26,000
3            1000854321          810
4            1000854320          810
...                 ...          ...
1926         1000779753          600
1927         1000779752          600
1928         1000779751          600
1929         1000779748          600
1930         1000779747          600

[1931 rows x 2 columns]

In [21]:
# use this to upload Forwarding Order Worklist CSV
Rate = Path("MKC Financial\FO Worklist Oct 2024 - Dec 2025.csv")

In [22]:
rate_df=pd.read_csv(Rate)
rate_df.head()

,House Bill of Lading,Created On Date,Document,Freight Unit,Delivery Date (To),Pro/MAWB No,Shippers Ref#,3rd Party Ref#,Type,Planning Status,...,Declared Value,Declared Value Currency,Gds Val. for Customs,Gds Val. Cstms Crcy,Goods Value,Goods Value Currency,Insurable Value,Insurable Value Crcy,Net Amt in Doc Crcy,Currency
0,1000843394,1/3/2025,2100565650,5100906016,1/14/2025,NaN,SO327524,SO327524,FWRD,Planned,...,"3,087.52",USD,0.0,NaN,0.0,NaN,0.000000,NaN,701.47,USD
1,1000846852,1/10/2025,2100569363,5100909721,1/10/2025,NaN,NaN,WAREHOUSE + LTL SHIPMENTS,FWRD,In Planning,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,"1,527.00",USD
2,1000794811,10/1/2024,2100514011,5100853564,10/4/2024,NaN,SO319811,SO319811,FWRD,Planned,...,"1,761.24",USD,0.0,NaN,0.0,NaN,0.000000,NaN,561.24,USD
3,1000823768,11/17/2024,2100544613,5100884612,11/22/2024,NaN,SO322897,SO322897,FWRD,Planned,...,"3,106.19",USD,0.0,NaN,0.0,NaN,0.000000,NaN,676.19,USD
4,1000830170,12/3/2024,2100551348,5100891382,12/9/2024,NaN,SO324135,SO324135,FWRD,Planned,...,"1,915.86",USD,0.0,NaN,0.0,NaN,0.000000,NaN,217.86,USD

In [23]:
rate_df=rate_df.rename(columns = {'House Bill of Lading': 'House Bill Number'})
rate_df

,House Bill Number,Created On Date,Document,Freight Unit,Delivery Date (To),Pro/MAWB No,Shippers Ref#,3rd Party Ref#,Type,Planning Status,...,Declared Value,Declared Value Currency,Gds Val. for Customs,Gds Val. Cstms Crcy,Goods Value,Goods Value Currency,Insurable Value,Insurable Value Crcy,Net Amt in Doc Crcy,Currency
0,1000843394,1/3/2025,2100565650,5100906016,1/14/2025,NaN,SO327524,SO327524,FWRD,Planned,...,"3,087.52",USD,0.0,NaN,0.0,NaN,0.000000,NaN,701.47,USD
1,1000846852,1/10/2025,2100569363,5100909721,1/10/2025,NaN,NaN,WAREHOUSE + LTL SHIPMENTS,FWRD,In Planning,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,"1,527.00",USD
2,1000794811,10/1/2024,2100514011,5100853564,10/4/2024,NaN,SO319811,SO319811,FWRD,Planned,...,"1,761.24",USD,0.0,NaN,0.0,NaN,0.000000,NaN,561.24,USD
3,1000823768,11/17/2024,2100544613,5100884612,11/22/2024,NaN,SO322897,SO322897,FWRD,Planned,...,"3,106.19",USD,0.0,NaN,0.0,NaN,0.000000,NaN,676.19,USD
4,1000830170,12/3/2024,2100551348,5100891382,12/9/2024,NaN,SO324135,SO324135,FWRD,Planned,...,"1,915.86",USD,0.0,NaN,0.0,NaN,0.000000,NaN,217.86,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1630,1000852007,1/20/2025,2100574684,5100915304,1/28/2025,OV90739008,SO320207,SO320207,FWRD,Planned,...,"2,712.03",USD,0.0,NaN,0.0,NaN,0.000000,NaN,847.03,USD
1631,1000852008,1/20/2025,2100574685,5100915305,1/28/2025,OV90739008,SO320208,SO320208,FWRD,Planned,...,"2,496.46",USD,0.0,NaN,0.0,NaN,0.000000,NaN,631.46,USD
1632,1000854315,1/22/2025,2100577033,5100917496,1/30/2025,OV90740481,SO328783,SO328783,FWRD,Planned,...,"2,181.84",USD,0.0,NaN,0.0,NaN,0.000000,NaN,945.04,USD
1633,1000854325,1/22/2025,2100577043,5100917656,1/29/2025,OV90740487,SO328119,SO328119,FWRD,Planned,...,"3,998.37",USD,0.0,NaN,0.0,NaN,0.000000,NaN,"1,598.37",USD
1634,1000856089,1/27/2025,2100578906,5100919527,1/24/2025,TRHU4832116/LOT 1838,NaN,OFFLOAD TRHU4832116/LOT 1838,FWRD,Planned,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD

In [30]:
Rate_merged_Q22025 = pd.merge(Q2_df,rate_df , on = 'House Bill Number', how = "left")
Rate_merged_Q22025.head(20)

,Station Name,Bill To Party Name,House Bill Number,FWO,Invoice Date,Gross,PU Vendor,Total PU Amount,LH Vendor,MAWB,...,Declared Value,Declared Value Currency,Gds Val. for Customs,Gds Val. Cstms Crcy,Goods Value,Goods Value Currency,Insurable Value,Insurable Value Crcy,Net Amt in Doc Crcy,Currency
0,R44MKC,SAUNA WORKS INC,1000857433,2100580374,1/29/2025,600.00,NaN,0.00,RGLMKC,CMAU6948604/LOT 1825,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD
1,R44MKC,SAUNA WORKS INC,1000856112,2100578907,1/27/2025,600.00,NaN,0.00,RGLMKC,FCIU9748380/LOT 1852,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD
2,R44MKC,SAUNA WORKS INC,1000856089,2100578906,1/27/2025,600.00,NaN,0.00,RGLMKC,TRHU4832116/LOT 1838,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD
3,R44MKC,SAUNA WORKS INC,1000854321,2100577039,1/30/2025,913.47,CEVF,38.79,FA,91927172,...,"2,113.47",USD,0.0,NaN,0.0,NaN,0.000000,NaN,913.47,USD
4,R44MKC,SAUNA WORKS INC,1000854320,2100577038,1/30/2025,"1,449.03",CEVF,50.63,FA,91925043,...,"2,649.03",USD,0.0,NaN,0.0,NaN,0.000000,NaN,"1,449.03",USD
5,R44MKC,SAUNA WORKS INC,1000854311,2100577029,1/29/2025,729.42,CEVF,101.25,FA,91925517,...,"1,929.42",USD,0.0,NaN,0.0,NaN,0.000000,NaN,729.42,USD
6,R44MKC,TRINITY BIOTECH,6000050753,6300051106,1/27/2025,788.00,RGLMKC,23.59,AA,001-95355573,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,R44MKC,SAUNA WORKS INC,1000852601,2100575308,1/30/2025,963.21,CEVF,101.25,FA,91919378,...,"3,172.22",USD,0.0,NaN,0.0,NaN,0.000000,NaN,963.21,USD
8,R44MKC,SAUNA WORKS INC,1000852598,2100575305,1/30/2025,651.12,CEVF,100.80,FA,91918520,...,"1,851.12",USD,0.0,NaN,0.0,NaN,0.000000,NaN,651.12,USD
9,R44MKC,SAUNA WORKS INC,1000852591,2100575298,1/29/2025,"1,213.81",CEVF,100.80,FA,91918102,...,"3,422.81",USD,0.0,NaN,0.0,NaN,0.000000,NaN,"1,213.81",USD
10,R44MKC,SAUNA WORKS INC,1000852582,2100575279,1/30/2025,802.01,CEVF,101.25,FA,91919148,...,"2,002.01",USD,0.0,NaN,0.0,NaN,0.000000,NaN,802.01,USD
11,R44MKC,SAUNA WORKS INC,1000852013,2100574690,1/30/2025,"1,341.15",ECLBDL,121.17,FA,91910066,...,"3,697.15",USD,0.0,NaN,0.0,NaN,0.000000,NaN,"1,341.15",USD
12,R44MKC,SAUNA WORKS INC,1000851995,2100574673,1/29/2025,503.65,CEVF,25.88,FA,91911858,...,"1,703.65",USD,0.0,NaN,0.0,NaN,0.000000,NaN,503.65,USD
13,R44MKC,SAUNA WORKS INC,1000851993,2100574671,1/28/2025,900.24,CEVF,100.80,FA,91912332,...,"3,330.24",USD,0.0,NaN,0.0,NaN,0.000000,NaN,900.24,USD
14,R44MKC,SAUNA WORKS INC,1000851991,2100574669,1/30/2025,987.33,CEVF,100.80,FA,91911264,...,"2,187.33",USD,0.0,NaN,0.0,NaN,0.000000,NaN,987.33,USD
15,R44MKC,SAUNA WORKS INC,1000851988,2100574667,1/29/2025,718.67,CEVF,25.88,FA,91911858,...,"1,918.67",USD,0.0,NaN,0.0,NaN,0.000000,NaN,718.67,USD
16,R44MKC,TRINITY BIOTECH,1000851645,2100574258,1/27/2025,"3,700.00",NaN,0.00,PRTLIT,60109552377,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,"3,700.00",USD
17,R44MKC,TRINITY BIOTECH,1000851620,2100574256,1/23/2025,"3,800.00",NaN,0.00,PRTLIT,60109537873,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,"3,800.00",USD
18,R44MKC,SAUNA WORKS INC,1000851363,2100574021,1/29/2025,"1,003.08",AGEIND,104.13,FA,91904049,...,"3,212.08",USD,0.0,NaN,0.0,NaN,0.000000,NaN,"1,003.08",USD
19,R44MKC,SAUNA WORKS INC,1000851362,2100574020,1/29/2025,"1,049.29",CEVF,100.80,FA,91905611,...,0.000000,NaN,0.0,NaN,0.0,NaN,0.000000,NaN,"1,049.29",USD

In [31]:
Rate_merged_Q22025.drop(columns=['Station Name','Commission Status','Commission Error','Document', 'Gross Weight_y', 'Gr. Wt UoM','Net Amt in Doc Crcy'])
Rate_merged_Q22025.to_csv('Rate_merged.csv')

In [32]:
Rate_merged_Q22025['Origin Count'] = '1'
Rate_merged_Q22025['Dest Count'] = '1'
Rate_merged_Q22025

,Station Name,Bill To Party Name,House Bill Number,FWO,Invoice Date,Gross,PU Vendor,Total PU Amount,LH Vendor,MAWB,...,Gds Val. for Customs,Gds Val. Cstms Crcy,Goods Value,Goods Value Currency,Insurable Value,Insurable Value Crcy,Net Amt in Doc Crcy,Currency,Origin Count,Dest Count
0,R44MKC,SAUNA WORKS INC,1000857433,2100580374,1/29/2025,600.00,NaN,0.00,RGLMKC,CMAU6948604/LOT 1825,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
1,R44MKC,SAUNA WORKS INC,1000856112,2100578907,1/27/2025,600.00,NaN,0.00,RGLMKC,FCIU9748380/LOT 1852,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
2,R44MKC,SAUNA WORKS INC,1000856089,2100578906,1/27/2025,600.00,NaN,0.00,RGLMKC,TRHU4832116/LOT 1838,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
3,R44MKC,SAUNA WORKS INC,1000854321,2100577039,1/30/2025,913.47,CEVF,38.79,FA,91927172,...,0.0,NaN,0.0,NaN,0.000000,NaN,913.47,USD,1,1
4,R44MKC,SAUNA WORKS INC,1000854320,2100577038,1/30/2025,"1,449.03",CEVF,50.63,FA,91925043,...,0.0,NaN,0.0,NaN,0.000000,NaN,"1,449.03",USD,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1926,R44MKC,SAUNA WORKS INC,1000779753,2100497872,9/12/2024,981.80,NDSSMF,102.18,FA,90418883,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1927,R44MKC,SAUNA WORKS INC,1000779752,2100497871,9/13/2024,704.29,NDSSMF,102.18,CEVF,OV90648564,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1928,R44MKC,SAUNA WORKS INC,1000779751,2100497870,9/24/2024,715.96,NDSSMF,102.16,CEVF,OV90648549,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1929,R44MKC,SAUNA WORKS INC,1000779748,2100497788,9/11/2024,705.30,AGEIND,68.88,FA,90417571,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1
1930,R44MKC,SAUNA WORKS INC,1000779747,2100497787,9/13/2024,720.70,AGEIND,68.87,FA,90417558,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,1

In [33]:
Rate_merged_Q22025.columns

Index(['Station Name', 'Bill To Party Name', 'House Bill Number', 'FWO',
       'Invoice Date', 'Gross', 'PU Vendor', 'Total PU Amount', 'LH Vendor',
       'MAWB', 'Total LH Amount', 'DL Vendor', 'Total DL Amount', 'Station',
       'Profitability**', 'Commission Status', 'Misc Amount', 'Ins Amt',
       'Ins Currency', 'G&A', 'G&A Currency', 'E&O', 'E&O Currency', 'RLP fee',
       'Posting Date/Time', 'Service Level', 'Gross Weight_x',
       'Gross Weight Unit', 'No of Pieces', 'Unit of Pieces',
       'Commission Error', 'DL Amount', 'LH Amount', 'Total Variance',
       'PU Amount', 'Created On Date', 'Document', 'Freight Unit',
       'Delivery Date (To)', 'Pro/MAWB No', 'Shippers Ref#', '3rd Party Ref#',
       'Type', 'Planning Status', 'Origin APC', 'Origin ACI Zone',
       'Source Location Description', 'Source Location Address',
       'Source Location City', 'Source Location Region',
       'Source Location Zip Code', 'Dest APC', 'Dest ACI Zone',
       'Destination Location Descripti', 'Destination Location Address',
       'Destination Location City', 'Destination Location Region',
       'Destination Location Zip Code', 'Quantity', 'Quantity UoM',
       'Gross Weight_y', 'Gr. Wt UoM', 'Dimensional Weight',
       'Dimensional Weight UOM', 'Net Weight', 'Net Wt UoM', 'Sales Srvc. Lvl',
       'Srv Level Description', 'SCAC', 'Pick-Up Date (From)',
       'Shipper Description', 'Consignee Description', 'Consignees Ref#',
       'POD SFB', 'POD Quantity Recv', 'POD SFB Date', 'POD SFB Time',
       'Declared Value', 'Declared Value Currency', 'Gds Val. for Customs',
       'Gds Val. Cstms Crcy', 'Goods Value', 'Goods Value Currency',
       'Insurable Value', 'Insurable Value Crcy', 'Net Amt in Doc Crcy',
       'Currency', 'Origin Count', 'Dest Count'],
      dtype='object')

In [34]:
rate_ori_total = Rate_merged_Q22025.groupby('Origin APC')['Origin APC'].value_counts()
rate_dest_total = Rate_merged_Q22025.groupby('Dest APC')['Dest APC'].value_counts()
rate_ori_df = pd.DataFrame({'Ori Count': rate_ori_total} ).sort_values('Ori Count', ascending=False)
# rate_total_df = rate_total_df.sort_values(by = ['count'], ascending=False)
rate_ori_df_2025 = rate_ori_df.head(20).reset_index()
rate_ori_df_2025

   Origin APC  Ori Count
0         SFO        716
1         IND        346
2         SMF        250
3         BDL        141
4         MCI         81
5         LAX         62
6         DFW          5
7         JFK          3
8         BNA          2
9         STL          2
10        IAD          1
11        IAH          1
12        DTW          1
13        CLE          1
14        ATL          1
15        FCA          1
16        ICT          1
17        ORF          1
18        ORD          1
19        ONT          1

In [35]:
rate_dest_total = Rate_merged_Q22025.groupby('Dest APC')['Dest APC'].value_counts()
rate_dest_df = pd.DataFrame({'Dest Count': rate_dest_total} ).sort_values('Dest Count', ascending=False)
# rate_total_df = rate_total_df.sort_values(by = ['count'], ascending=False)
rate_dest_df_2025 = rate_dest_df.head(20).reset_index()
rate_dest_df_2025

   Dest APC  Dest Count
0       DFW          70
1       ORD          70
2       DEN          65
3       PHX          50
4       MIA          50
5       JFK          45
6       SLC          45
7       MCI          42
8       BOS          42
9       MKE          40
10      ATL          40
11      BWI          36
12      SEA          34
13      DTW          32
14      MSP          32
15      TPA          31
16      AUS          30
17      SFO          26
18      IAH          26
19      PHL          26

In [36]:
# top_o_d = pd.DataFrame(rate_ori_df_20.values, columns=("Ori AP", "Ori Count"))
# top_o_d
top_o_d = pd.concat([rate_ori_df_2025,rate_dest_df_2025, top_dl_v], axis=1)
top_o_d

   Origin APC  Ori Count Dest APC  Dest Count DL Vendor  count
0         SFO        716      DFW          70      DDLI     65
1         IND        346      ORD          70    BLKORD     61
2         SMF        250      DEN          65    AGEMIA     56
3         BDL        141      PHX          50    COMMKE     55
4         MCI         81      MIA          50    ALPJFK     50
5         LAX         62      JFK          45    AIRPHX     50
6         DFW          5      SLC          45    BTBDEN     46
7         JFK          3      MCI          42  JWILDATL     44
8         BNA          2      BOS          42    FRFTPA     41
9         STL          2      MKE          40    RGLSEA     41
10        IAD          1      ATL          40    WHIDTW     39
11        IAH          1      BWI          36    WPLSLC     37
12        DTW          1      SEA          34    NAFBWI     35
13        CLE          1      DTW          32    STRMSP     33
14        ATL          1      MSP          32    LYKAUS     33
15        FCA          1      TPA          31    AGEIAH     32
16        ICT          1      AUS          30    GRELGB     30
17        ORF          1      SFO          26    FRFEWR     29
18        ORD          1      IAH          26    MKSLAS     28
19        ONT          1      PHL          26    NGTBOS     25

In [44]:
Rate_merged_Q22025.to_csv('Rate_merged_Q22025.csv')

In [37]:
Rate_merged_Q22025.head()

,Station Name,Bill To Party Name,House Bill Number,FWO,Invoice Date,Gross,PU Vendor,Total PU Amount,LH Vendor,MAWB,...,Gds Val. for Customs,Gds Val. Cstms Crcy,Goods Value,Goods Value Currency,Insurable Value,Insurable Value Crcy,Net Amt in Doc Crcy,Currency,Origin Count,Dest Count
0,R44MKC,SAUNA WORKS INC,1000857433,2100580374,1/29/2025,600.00,NaN,0.00,RGLMKC,CMAU6948604/LOT 1825,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
1,R44MKC,SAUNA WORKS INC,1000856112,2100578907,1/27/2025,600.00,NaN,0.00,RGLMKC,FCIU9748380/LOT 1852,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
2,R44MKC,SAUNA WORKS INC,1000856089,2100578906,1/27/2025,600.00,NaN,0.00,RGLMKC,TRHU4832116/LOT 1838,...,0.0,NaN,0.0,NaN,0.000000,NaN,600.00,USD,1,1
3,R44MKC,SAUNA WORKS INC,1000854321,2100577039,1/30/2025,913.47,CEVF,38.79,FA,91927172,...,0.0,NaN,0.0,NaN,0.000000,NaN,913.47,USD,1,1
4,R44MKC,SAUNA WORKS INC,1000854320,2100577038,1/30/2025,"1,449.03",CEVF,50.63,FA,91925043,...,0.0,NaN,0.0,NaN,0.000000,NaN,"1,449.03",USD,1,1

In [38]:
Airport_df = Rate_merged_Q22025.loc[:, ['Destination Location Zip Code', 'Dest APC', 'Dest ACI Zone']]
Airport_df

      Destination Location Zip Code Dest APC Dest ACI Zone
0                           64153.0      MCI             A
1                           64153.0      MCI             A
2                           64153.0      MCI             A
3                           30281.0      ATL             C
4                           61761.0      ORD           NaN
...                             ...      ...           ...
1926                            NaN      NaN           NaN
1927                            NaN      NaN           NaN
1928                            NaN      NaN           NaN
1929                            NaN      NaN           NaN
1930                            NaN      NaN           NaN

[1931 rows x 3 columns]

In [39]:
Airport_df['Destination Location Zip Code'] = Airport_df['Destination Location Zip Code'].drop_duplicates()
Airport_df

      Destination Location Zip Code Dest APC Dest ACI Zone
0                           64153.0      MCI             A
1                               NaN      MCI             A
2                               NaN      MCI             A
3                           30281.0      ATL             C
4                           61761.0      ORD           NaN
...                             ...      ...           ...
1926                            NaN      NaN           NaN
1927                            NaN      NaN           NaN
1928                            NaN      NaN           NaN
1929                            NaN      NaN           NaN
1930                            NaN      NaN           NaN

[1931 rows x 3 columns]

In [40]:
Rate_merged_Q22025 = Rate_merged.replace(',','', regex=True)

In [41]:
Rate_merged_Q22025['Total DL Amount'] = pd.to_numeric(Rate_merged['Total DL Amount'])
Rate_merged_Q22025['Dimensional Weight'] = pd.to_numeric(Rate_merged['Dimensional Weight'])
Rate_merged_Q22025['Gross Weight_y'] = pd.to_numeric(Rate_merged['Gross Weight_y'])

ValueError: Unable to parse string "1,099.30" at position 128

In [42]:
Rate_merged_Q22025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1931 entries, 0 to 1930
Data columns (total 89 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Station Name                    1931 non-null   object
 1   Bill To Party Name              1820 non-null   object
 2   House Bill Number               1931 non-null   int64
 3   FWO                             1931 non-null   int64
 4   Invoice Date                    1820 non-null   object
 5   Gross                           1931 non-null   object
 6   PU Vendor                       1624 non-null   object
 7   Total PU Amount                 1931 non-null   float64
 8   LH Vendor                       1813 non-null   object
 9   MAWB                            1813 non-null   object
 10  Total LH Amount                 1931 non-null   object
 11  DL Vendor                       1711 non-null   object
 12  Total DL Amount                 1931 non-null   object
 13  Station                         1931 non-null   object
 14  Profitability**                 1931 non-null   float64
 15  Commission Status               1931 non-null   object
 16  Misc Amount                     110 non-null    object
 17  Ins Amt                         1931 non-null   float64
 18  Ins Currency                    1819 non-null   object
 19  G&A                             1931 non-null   float64
 20  G&A Currency                    1931 non-null   object
 21  E&O                             1931 non-null   float64
 22  E&O Currency                    1931 non-null   object
 23  RLP fee                         1931 non-null   float64
 24  Posting Date/Time               1930 non-null   object
 25  Service Level                   1931 non-null   object
 26  Gross Weight_x                  1931 non-null   object
 27  Gross Weight Unit               1931 non-null   object
 28  No of Pieces                    1929 non-null   float64
 29  Unit of Pieces                  1929 non-null   object
 30  Commission Error                0 non-null      float64
 31  DL Amount                       1710 non-null   object
 32  LH Amount                       1772 non-null   object
 33  Total Variance                  61 non-null     object
 34  PU Amount                       1577 non-null   object
 35  Created On Date                 1623 non-null   object
 36  Document                        1623 non-null   float64
 37  Freight Unit                    1623 non-null   float64
 38  Delivery Date (To)              1623 non-null   object
 39  Pro/MAWB No                     1606 non-null   object
 40  Shippers Ref#                   1574 non-null   object
 41  3rd Party Ref#                  1596 non-null   object
 42  Type                            1623 non-null   object
 43  Planning Status                 1623 non-null   object
 44  Origin APC                      1623 non-null   object
 45  Origin ACI Zone                 981 non-null    object
 46  Source Location Description     1623 non-null   object
 47  Source Location Address         1623 non-null   object
 48  Source Location City            1623 non-null   object
 49  Source Location Region          1623 non-null   object
 50  Source Location Zip Code        1623 non-null   float64
 51  Dest APC                        1623 non-null   object
 52  Dest ACI Zone                   1229 non-null   object
 53  Destination Location Descripti  1623 non-null   object
 54  Destination Location Address    1623 non-null   object
 55  Destination Location City       1623 non-null   object
 56  Destination Location Region     1623 non-null   object
 57  Destination Location Zip Code   1622 non-null   float64
 58  Quantity                        1622 non-null   float64
 59  Quantity UoM                    1622 non-null   object
 60  Gross Weight_y                  1623 non-null   object
 61  Gr. Wt UoM                      1623 non-null   object
 62  Dimensional Weight              1623 non-null   object
 63  Dimensional Weight UOM          1623 non-null   object
 64  Net Weight                      1623 non-null   object
 65  Net Wt UoM                      1623 non-null   object
 66  Sales Srvc. Lvl                 1623 non-null   object
 67  Srv Level Description           1623 non-null   object
 68  SCAC                            0 non-null      float64
 69  Pick-Up Date (From)             1623 non-null   object
 70  Shipper Description             1623 non-null   object
 71  Consignee Description           1623 non-null   object
 72  Consignees Ref#                 35 non-null     object
 73  POD SFB                         1554 non-null   object
 74  POD Quantity Recv               682 non-null    object
 75  POD SFB Date                    1623 non-null   object
 76  POD SFB Time                    1623 non-null   object
 77  Declared Value                  1623 non-null   object
 78  Declared Value Currency         1528 non-null   object
 79  Gds Val. for Customs            1623 non-null   float64
 80  Gds Val. Cstms Crcy             0 non-null      float64
 81  Goods Value                     1623 non-null   float64
 82  Goods Value Currency            0 non-null      float64
 83  Insurable Value                 1623 non-null   object
 84  Insurable Value Crcy            20 non-null     object
 85  Net Amt in Doc Crcy             1623 non-null   object
 86  Currency                        1623 non-null   object
 87  Origin Count                    1931 non-null   object
 88  Dest Count                      1931 non-null   object
dtypes: float64(18), int64(2), object(69)
memory usage: 1.3+ MB

In [43]:
# calculations for per price average of each zip code.
avg_dw = Rate_merged_Q22025.groupby('Destination Location Zip Code')['Dimensional Weight'].mean()
dim_wgt = (avg_dw*.99969093)
dim_wgt_df = pd.DataFrame(dim_wgt).reset_index()
dim_wgt_df

TypeError: agg function failed [how->mean,dtype->object]

In [126]:
# sorting Total DL column by greater than 0
avg_dl = Rate_merged[Rate_merged["Total DL Amount"] > 0]

# grouping by dest zip and getting average of the Total DL column per zip
avg_dl_cost = avg_dl.groupby('Destination Location Zip Code')['Total DL Amount'].mean()

# Creating DataFrame
avg_dl_cost_df = pd.DataFrame(avg_dl_cost).reset_index()

# creating variable to hold dimensional weight
dim_wgt_2 = dim_wgt_df['Dimensional Weight']
actual_wgt = Rate_merged['Gross Weight_y']

# creating two new rows in dataframe and formatting.
avg_dl_cost_df["AVG Dim Wght per Zip"] = dim_wgt_2.map("{:.0f}".format)
avg_dl_cost_df["AVG Dim/LB rate per Zip"] = (avg_dl_cost_df["Total DL Amount"]/dim_wgt_2).map("$ {:.2f}".format)
avg_dl_cost_df["AVG Actual Wght per Zip"] = actual_wgt.map("{:.0f}".format)
avg_dl_cost_df["AVG Act/LB rate per Zip"] = (avg_dl_cost_df["Total DL Amount"]/actual_wgt).map("$ {:.2f}".format)


# renaming Total DL Amount column
avg_dl_cost_df = avg_dl_cost_df.rename(columns={"Total DL Amount": "AVG Delivery Rate per Zip"})
avg_dl_cost_df['AVG Delivery Rate per Zip'] = avg_dl_cost_df['AVG Delivery Rate per Zip'].map("$ {:.2f}".format)
avg_dl_cost_df

,Destination Location Zip Code,AVG Delivery Rate per Zip,AVG Dim Wght per Zip,AVG Dim/LB rate per Zip,AVG Actual Wght per Zip,AVG Act/LB rate per Zip
0,01532,$ 111.92,740,$ 0.15,1,$ 111.92
1,01923,$ 106.86,752,$ 0.14,1,$ 106.86
2,01945,$ 106.04,752,$ 0.14,1,$ 106.04
3,02048,$ 186.63,798,$ 0.23,780,$ 0.24
4,02052,$ 209.04,827,$ 0.25,690,$ 0.30
...,...,...,...,...,...,...
845,99205,$ 175.18,827,$ 0.21,810,$ 0.22
846,99208,$ 99.92,1028,$ 0.10,840,$ 0.12
847,99301,$ 223.93,1027,$ 0.22,840,$ 0.27
848,99352,$ 226.91,827,$ 0.27,725,$ 0.31
849,99503,$ 1121.67,752,$ 1.49,725,$ 1.55

In [109]:
Airport_df = Airport_df.dropna(subset=['Destination Location Zip Code'])
Airport_df

     Destination Location Zip Code Dest APC Dest ACI Zone
0                            64132      MCI             A
2                            60173      NaN           NaN
3                            49125      SBN             C
4                            33408      MIA             G
5                            60194      ORD             A
...                            ...      ...           ...
1225                         60515      ORD             B
1226                         66223      MCI             B
1227                         80439      DEN             B
1228                         33603      TPA             A
1229                         68118      OMA             A

[928 rows x 3 columns]

In [127]:
avg_dl_cost_df2 = avg_dl_cost_df.merge(Airport_df,how = "left", on=['Destination Location Zip Code'] )
avg_dl_cost_df2

,Destination Location Zip Code,AVG Delivery Rate per Zip,AVG Dim Wght per Zip,AVG Dim/LB rate per Zip,AVG Actual Wght per Zip,AVG Act/LB rate per Zip,Dest APC,Dest ACI Zone
0,01532,$ 111.92,740,$ 0.15,1,$ 111.92,BOS,D
1,01923,$ 106.86,752,$ 0.14,1,$ 106.86,BOS,C
2,01945,$ 106.04,752,$ 0.14,1,$ 106.04,BOS,B
3,02048,$ 186.63,798,$ 0.23,780,$ 0.24,BOS,D
4,02052,$ 209.04,827,$ 0.25,690,$ 0.30,BOS,C
...,...,...,...,...,...,...,...,...
845,99205,$ 175.18,827,$ 0.21,810,$ 0.22,GEG,A
846,99208,$ 99.92,1028,$ 0.10,840,$ 0.12,GEG,A
847,99301,$ 223.93,1027,$ 0.22,840,$ 0.27,GEG,Y
848,99352,$ 226.91,827,$ 0.27,725,$ 0.31,GEG,Y
849,99503,$ 1121.67,752,$ 1.49,725,$ 1.55,ANC,NaN

In [130]:
avg_dl_cost_df2.to_csv("Q4 Average Delivery Cost per Zip.csv")

In [118]:
avg_dl_cost_df.dtypes

Destination Location Zip Code    object
AVG Delivery Rate per Zip        object
AVG Dim Wght per Zip             object
AVG/LB rate per Zip              object
dtype: object